.DS_Store
.git*
.vscode
.circleci
.styleci*
.phpunit*
.dockerignore
.env*
docker-compose.yml
Dockerfile
.log
Makefile
node_modules
vendor
tests
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs
storage/minio
public/js/*
public/mix-manifest.json
.editorconfig
server.php

# Whitelisted
!vendor/tightenco/*
