*.DS_STORE
/node_modules
/public/hot
/public/build
/public/docs
/public/vendor/scribe
/public/storage
/public/js
/public/css
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.phpunit.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.scribe
coverage
_ide_helper.php
