.form-message-prose {
    @apply text-base text-content;

    h1 {
        @apply text-3xl font-bold mb-3;
    }

    h2 {
        @apply text-2xl font-bold mb-3;
    }

    h3 {
        @apply text-xl font-bold mb-3;
    }

    a,
    a:visited {
        @apply text-primary underline;
    }

    a:hover {
        @apply brightness-125;
    }

    p {
        @apply mb-4;
    }

    blockquote {
        @apply pl-4 mb-4 text-lg relative leading-relaxed;

        &::before {
            content: "\201C";
            @apply mr-px text-primary font-bold;
        }

        &::after {
            content: "\201D";
            @apply ml-px text-primary font-bold;
        }

        p {
            @apply inline;
        }
    }

    code {
        @apply bg-background brightness-80 text-content/75 px-1 text-sm py-px rounded;
    }

    ul {
        @apply list-disc pl-5 text-content;
    }

    ol {
        @apply list-decimal pl-5 text-content;
    }

    ul p,
    ol p {
        @apply mb-2;
    }

    img {
        @apply max-w-full my-4;
    }
}