@import "./_embedded-preflight.css";

@import "tailwindcss/base";

@import "./_typography.css";

@import "tailwindcss/components";
@import "tailwindcss/utilities";

.conversation-theme {
    --color-primary: 50, 50, 255;
    --color-secondary: 2, 10, 5;
    --color-background: 244, 244, 244;
    --color-content: 10, 10, 10;
    --brightness-user: 1;
}
