.smooth-dnd-ghost>button {
    opacity: .75;
    background-color: theme("colors.blue.50") !important;
}

.smooth-dnd-ghost .treeline {
    opacity: 0;
}

.smooth-dnd-container>.smooth-dnd-draggable-wrapper {
    overflow: visible !important;
}
